@using Domain.User
@using UI.MVC.Models.Shared.PopUp
@model System.Collections.Generic.IEnumerable<Domain.User.MarkedEmail>

@if (@Model.Any())
{
    @foreach (MarkedEmail markedEmail in @Model)
    {
        var isAdmin = !markedEmail.Projects.Any();

        <!-- A Single moderator list item. -->
        <section class="moderator-list-item-container" data-marked-email-id="@markedEmail.MarkedEmailId">

            <div class="moderator-email">
                <p>@markedEmail.Email</p>
            </div>

            <!-- The role. -->
            <div class="moderator-role">
                @if (markedEmail.UserRole == UserRole.Admin)
                {
                    <p class="admin">Admin</p>
                }
                else
                {
                    <p class="project-manager">Project Manager</p>
                }

            </div>

            <!-- Assigned projects -->
            <div class="moderator-assigned-projects">

                @if (isAdmin)
                {
                    <p>All</p>
                }
                else
                {
                    <i class="fa-solid fa-ellipsis"></i>
                    <ul>
                        @if (markedEmail.Projects != null)
                        {
                            foreach (var project in markedEmail.Projects)
                            {
                                <li>
                                    <a asp-action="Index" asp-controller="ProjectManage" asp-route-project="@project.ExternalName.ToLower()">@project.ExternalName</a>
                                </li>
                            }
                        }
                    </ul>
                }
            </div>


            <!-- Actions. -->
            <div class="moderator-actions">
                @*Only project-managers can be edited.*@
                @if (markedEmail.UserRole == UserRole.ProjectManager)
                {
                    <a class="btn-icon" asp-action="EditModerator" asp-controller="ProjectModeration" asp-route-id="@markedEmail.MarkedEmailId">
                        <i class="fa-solid fa-gear"></i>
                    </a>
                }
                <button type="button" data-marked-email-id="@markedEmail.MarkedEmailId" class="btn-icon btn-delete-marked-email" onclick="event.preventDefault()">
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            </div>

        </section>
    }
    <div class="error-messages-container">
        <div class="error-messages-container-list error-messages-container-list-marked-emails"></div>
    </div>
}
else
{
    <h2>There are currently no Marked Emails.</h2>
}

@{
    var deleteModel = new PopUpModel
    {
        PopUpContainerClass = "article-popup-delete-marked-email",
        PopUpTitle = "Delete Marked Email?",
        PopUpBody = " <p class='alert alert-warning'>Are you sure you want to delete this marked email?</p>",
        ButtonPrimaryClass = "btn-confirm-delete-marked-email",
        ButtonPrimaryText = "Delete",
        ButtonPrimaryBootstrapType = "btn-danger"
    };
}
<partial name="~/Views/Shared/_PopUpWindow.cshtml" model="@deleteModel"/>

<script src="~/dist/markedEmailsOverview.entry.js" defer></script>