@using UI.MVC.Models.Shared
@using BL.Project
@using UI.MVC.Identity
@model UI.MVC.Models.Account.ForgotPasswordModel

@inject IProjectManager _projectManager;

@{
    Layout = "_BackEndNavigation";

    ViewData["Title"] = "Forgot your password?";

    var projectName = ApplicationConstants.GetProjectName(ViewContext.RouteData);

    var pageTitle = new PageTitleModel()
    {
        Title = "Wachtwoord vergeten?",
        Description = "Geef uw e-mail hier onder in, en als het account met die e-mail gevonden werd sturen we u een e-mail met verdere instructies naar het ingegeven e-mail adres"
    };

    var breadCrumbs = new BreadcrumbsModel()
    {
        BreadcrumbItems = new List<(string IconClass, string Name, string Controller, string Action, string ExternalProjectName)>
        {
            new Tuple<string, string, string, string, string>("fa-solid fa-house", @projectName, "Project", "Index", @projectName).ToValueTuple(),
            new Tuple<string, string, string, string, string>("fa-solid fa-key", "Wachtwoord vergeten", "Account", "ForgotPassword", @projectName).ToValueTuple(),
        },
        ActiveItemIndex = 2
    };
}

<article class="container">

    <partial name="_Breadcrumbs" model="@breadCrumbs"/>

    <partial name="_PageTitle" model="@pageTitle"/>

    <div class="row">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group my-3">
                <label asp-for="@Model.Email"></label>
                <input asp-for="@Model.Email" class="form-control"/>
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Opnieuw versturen</button>
        </form>

    </div>
</article>