@using UI.MVC.Identity
@using UI.MVC.Models.Shared
@model identity.Models.ResetPasswordModel
@{
    Layout = "_BackEndNavigation";

    ViewData["Title"] = "Reset password";

    var projectName = ApplicationConstants.GetProjectName(ViewContext.RouteData);

    var pageTitle = new PageTitleModel()
    {
        Title = "Wachtwoord opnieuw instellen",
        Description = "Geef hieronder uw e-mail in, daarna kunt u een nieuw wachtwoord kiezen!"
    };

    var breadCrumbs = new BreadcrumbsModel()
    {
        BreadcrumbItems = new List<(string IconClass, string Name, string Controller, string Action, string ExternalProjectName)>
        {
            new Tuple<string, string, string, string, string>("fa-solid fa-house", @projectName, "Project", "Index", @projectName).ToValueTuple(),
            new Tuple<string, string, string, string, string>("fa-solid fa-key", "Wachtwoord vergeten", "Account", "ForgotPassword", @projectName).ToValueTuple(),
        },
        ActiveItemIndex = 2
    };
}

<article class="container">
    <partial name="_Breadcrumbs" model="@breadCrumbs"/>

    <partial name="_PageTitle" model="@pageTitle"/>


    <div class="row">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="@Model.Code" type="hidden"/>
            <div class="form-group  mb-4">
                <label asp-for="@Model.Email"></label>
                <input asp-for="@Model.Email" class="form-control"/>
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group  mb-3">
                <label asp-for="@Model.Password"></label>
                <input asp-for="@Model.Password" class="form-control"/>
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="@Model.ConfirmPassword"></label>
                <input asp-for="@Model.ConfirmPassword" class="form-control"/>
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Stel wachtwoord opnieuw in</button>
            @Html.Hidden(@Model.Code)
        </form>
    </div>

</article>